@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --lightgreen: #252724;
    --neutral: #191B19;
    --stone: #2f312e;
    --txtcolor: #ababab;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: var(--neutral);
}

/* Gradient border */
.gradient-border {
    position: relative;
    padding: .1rem; 
    border-radius: 6px; 
    background: linear-gradient(to right, #49d043, #ffb912);
  }
  .dark-bg{
    background-color: #252725;
    border-radius: 6px; 
  }
  /* Inner div to hold the content */
  .gradient-border-content {
    background: linear-gradient(to right, #49D0430D, #FFB9120D ); 
    border-radius: 6px; 
  }
  

.nav-link {
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: 300ms ease;
    cursor: pointer;
}

.nav-link:hover {
    background: linear-gradient(to right, #4ad04313, #ffb81213);
}

/* Gradient for text */
.gradient-text {
    background: linear-gradient(to right, #49d043, #ffb912);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}



